/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30/09/2021, 8:57:02 p. m.
    Author     : andre
*/
body{
    width: 900px; /*ancho de la pagina*/
    margin: auto; /*centrar la pagina*/
    background-color: aquamarine; /*color de la pagina*/    
}

h1{ /*estilos para la etiqueta h1*/
    background-color: cadetblue;
    color: aliceblue;
    text-align: center;
}

h2{ /*estilos para la etiqueta h1*/    
    color: green;
    text-align: center;
}

/*div li{/*para ordenar de manera horizontal los enlaces a las otras paginas*/
    /*display: inline-block;
    padding: 5px; 
    margin: auto;    
}*/

/*.centro { /*Con este centramos las listas ul y li de los enlaces a las otras paginas*/
    /*text-align: center;
}*/
/*.centro ul {
    display: inline-block;
    margin: 0;
    padding: 0;    
    zoom:1;
    *display: inline;
}*/
/*.centro li {
    float: left;
    padding: 2px 5px;      
}*/

/*.menuEnlaces{aplicamos estilos al menu de los enlaces a otras paginas
    font-size: x-large; agrandamos la letra   
}*/

table.centrar{
    margin: auto;
}

td{/* Todas las celdas de la tabla ... */
    border: black solid 1px; /* tienen un borde de 1 píxel */
}

thead{
    border: black solid 1px;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*{/* Estilos para el menu desplegable*/
  margin: 0;
  padding: 0;
}
#header{ /*Para centrar y cambiar la fuente*/ 
  font-family: Helvetica;
  width: 400px;
  margin: auto;
}
ul, ol{
  list-style: none;
}
.nav li a{
  background-color: cadetblue;
  color: white;
  padding: 10px 15px;
  display: block;
  text-decoration: none;  
}
.nav li a:hover{
  color: #000;
  background-color: #eaeaea;
}
.nav > li{
  float: left;
  text-align:center
}
.nav li ul{
  display: none;
  position: absolute;
  min-width: 100px;
}
.nav li:hover > ul  {
  display:block;
}
/*.nav li ul li{            Esto es para cuando hay submenus, ubicarlos en el lado derecho
    position: relative;     y que no salga el submenu debajo del menu
}
.nav li ul li ul{
    right: -140px;
    top: 0px;
}*/


